@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-[Poppins] scroll-smooth;
  }

  body {
    @apply bg-[#1A1512];
  }

  button {
    @apply bg-[#0d2b25] border-2 rounded-md text-sm text-white hover:scale-105 duration-300 border-[#b0885a] px-4 py-2;
  }

  li {
    @apply hover:text-[#b0885a] duration-300 cursor-pointer;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #b0885a;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #95734c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ead4ac;
    border-radius: 14px;
  }
}
