@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-[Poppins] scroll-smooth;
  }

  body {
    @apply bg-[#1A1512];
  }

  button {
    @apply bg-[#0d2b25] border-2 rounded-md text-sm text-white hover:scale-105 duration-300 border-[#b0885a] px-4 py-2;
  }

  .links {
    display: flex;
    gap: 16px;
  }

  #Footer {
    background-image: url("./assets/croppedfooter.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .links a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 15px;
    transition: 0.3s;
    opacity: 0.8s;
  }

  .links:hover a {
    opacity: 0.25;
  }

  .links a:hover {
    opacity: 1;
    color: #b0885a;
  }

  .navbar {
    @apply flex flex-row-reverse w-full fixed duration-300  items-center  h-14 px-4 top-0 z-20 text-white;
  }

  .navbar-bg {
    @apply bg-[#06191A];
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #b0885a;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #95734c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ead4ac;
    border-radius: 14px;
  }
}
